node_modules
.next
out
*.db
*.db-journal
.env
certificados/*.p12
uploads
dist-electron
datos
electron/plantilla/env.plantilla
electron/plantilla/casa-mama-emma.db
dev-server.log
npm-debug.log*
.DS_Store
*.tsbuildinfo
